/* src/components/Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(1deg, #F4C536, #9C5ED0);
  overflow: hidden;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  padding: 60px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-right: 20px; /* Espaço entre o formulário e a imagem */
  margin-left: 20px;
}

.container-login-image-container{
  background-color: whitesmoke;
  width: 70%;
  height: 100%;
}


h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.login-form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.login-form button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.login-form button:hover {
  background-color: #218838;
}

.signup-prompt {
  margin-top: 10px;
  font-size: 14px;
  color: #777;
}

.signup-prompt a {
  color: #007bff;
  text-decoration: none;
}

.signup-prompt a:hover {
  text-decoration: underline;
}

.login-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.login-image {
  width: auto ; /* Ajuste o tamanho da imagem */
  height: auto;
}
